.font-family-title {
    font-family: "Yeseva One", cursive;
}

.font-family-sub-title {
    font-family: "Noto Sans TC", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

ul {
    padding-left: 0;
}
a {
    color: #030303;
}
