<footer class=" border-top border-3 border-custom1">
    <div class="container footer font-family-sub-title d-flex align-items-center justify-content-center">© 7TAO七逃. All
        Rights Reserved</div>
</footer>